.footer-text1 {
    color: white;
    font-size: calc(1vw + 1vh);
    text-align: center;
    font-weight: 700;
}

.footer-text2 {
    color: white;
    font-size: calc(1vw + 1vh);
    text-align: center;
    font-weight: 500;
}

.footer-text3 {
    text-align: center;
    color: white;
    font-size: calc(1vw + 0.5vh);
}
.footer-icons {
    width: calc(2vw + 3vh);
    margin-left: calc(1vw + 1vh);
    margin-right: calc(1vw + 1vh);
    transition: .5s;
}
.footer-icons:hover {
    transform: scale(1.1);
}

.footer-image2 {
    width: calc(2vw + 1vh);
    margin-right: 5px;
}

.contact-holder {
    margin-top: calc(1vw + 1vh);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
}
.footer-text21 {
    color: white;
    font-size: calc(1vw + 1vh);
    text-decoration: none;
}

.footer-text21:hover {
    color: white;
}
footer {
    background-color: rgb(216, 178, 72);
    padding: calc(1vw + 1vh);
    margin-top: calc(2vw + 2vh);
    padding-bottom:0;
}

.footer-image {
    width: calc(15vw + 5vh);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icons-holder {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
@media only screen and (max-width: 992px) {
    .navbar-nav {
        display: block;
        margin-left: 0;
        margin-right: auto;
    }

    .navbar {
        position: absolute;
        z-index: 10000;
        top: 0;
        width: 100%;
    }

    .nav-item {
        margin-left: calc(3vw + 1vh);
    }

    header {
        margin-bottom: calc(5vw + 2vh);
    }

    .card:hover {
        transform: scale(1.01);
    }

    .card {
        height: auto;
    }
}

@media only screen and (max-width: 568px) {
    .footer-image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .icons-holder {
        display:block;
    }
    .footer-social {
        display: block;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-icons {
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:calc(1vw + 1vh);
    }
}