.hero-image {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: calc(3vw + 2.5vh);
}
.description {
    padding-left: calc(3vw + 3vh);
    padding-right: calc(3vw + 3vh);
    padding-top: calc(.5vw + .5vh);
    color:white;
    text-align: justify;
    font-size:calc(1vw + 1vh);
}
h1 {
    margin: calc(2vw + 2vh);
    margin-top: 0;
    padding-top: calc(4vw + 4vh);
    text-align: center;
    color: white;
    font-size: calc(2vw + 2vh);
}

h2 {
    margin: calc(2vw + 1vh);
    text-align: center;
    color: white;
    font-size: calc(2vw + 1vh);
}

.header-holder {
    display: flex;
    justify-content: center;
}

.fa {
    color: white;
    font-size: calc(1.75vw + 1.5vh);

}

.fa-question-circle::before {
    position: relative;
    top: calc(50% - 1.2vw);
}

.fa-envelope::before {
    position: relative;
    top: calc(50% - 1.2vw);
}
.answer-text {
    text-align: justify;
    font-size:calc(1vw + .5vh);
    margin:calc(1vw + 1vh);
    margin-left:calc(.5vw + .5vh);
    margin-right:calc(.5vw + .5vh);
}
.card-body {
    padding:0;
}
.btn {
    text-decoration: none;
    color:white; 
    transition:.5s;
    font-size:calc(1vw + .75vh);
    padding:calc(1vw + 1vh);
    width:100%;
    text-align: left;
}
.dropdown-item {
    font-size:calc(1vw + .5vh);
}
.dropdown-item:hover {
    cursor:default;
}
.dropdown-item:active {
    background-color:rgb(233,236,239);
    color:black;
}
.btn:focus,.btn:active {
    box-shadow: none;  
 }
.card {
    border:none;
    margin:calc(1vw + 1vh);
}
.card-header:first-child {
    border-radius:0;
    padding:0;
}
.btn:hover {
    color:black;
}
.dropdown-menu {
    display:block;
    position:static;
    border-top:none;
    border-bottom:none;
    border-radius:0;
    padding:0;
}
.card-header {
    background-color:rgb(216, 178, 72);
}
#accordion {
    width: 90%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:calc(1vw + 1vh);
}